body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-back-school-background_23-2149464866.jpg');
  }


.box{
    width: 700px;
    height: 400px;
    background-color: rgb(253, 230, 201);
    border: black;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    align-items: center;
   justify-content: center;
   justify-items: center;
}
  
